p{
                color:indianred;
                font-weight: bold;
            }
h1{
                color:blue;
                font-size:35px;
                font-weight: bold;
            }