h1{
    color: darkblue;
    text-align: center;
    background-color: aqua;
    
}
body{background-image:url("../images/images.jpg");
    background-position: center;
    
}

h2{
    color: cadetblue;
    text-align: center;
    background-color: sandybrown;
        
}

table{
    background-color: crimson;
}

ol{
    background-image: url("../images/images.jfif");
    background-position: center;
}
